# QBIO Assignment #6

### Problem 1 - LA River Rain Threshold

In [69]:
before_data <- read.table("beforerain.bracken", header = TRUE, sep = "\t")
after_data <- read.table("afterrain.bracken", header = TRUE, sep = "\t")

In [70]:
above_thresh <- function(data, threshold){
    result <- subset(data, fraction_total_reads > threshold)
    return (result[c("name", "fraction_total_reads")])
}

In [71]:
answer_before <- above_thresh(before_data, 0.01)
answer_after <- above_thresh(after_data, 0.01)

In [72]:
answer_before

     name                         fraction_total_reads
903  Polynucleobacter acidiphobus 0.01528
1069 Homo sapiens                 0.01831
1134 Limnohabitans sp. 63ED37-2   0.11301
1135 Limnohabitans sp. 103DPR2    0.01286
1630 Polynucleobacter necessarius 0.02691
2046 Hydrogenophaga sp. RAC07     0.01211
2103 Cloacibacterium normanense   0.02526
3894 beta proteobacterium CB      0.02466

In [73]:
answer_after

     name                         fraction_total_reads
160  Curvibacter sp. AEP1-3       0.01170
905  Polynucleobacter acidiphobus 0.01099
1070 Homo sapiens                 0.01187
1135 Limnohabitans sp. 63ED37-2   0.05251
1136 Limnohabitans sp. 103DPR2    0.01398
1623 Polynucleobacter necessarius 0.01792
2040 Hydrogenophaga sp. RAC07     0.01938
2095 Cloacibacterium normanense   0.01177
2108 Acidovorax sp. T1            0.01068

### Problem 2 - Compare the 2 Files

In [74]:
compare <- function(data1, data2, n){
            merged_data <- merge(data1, data2, by = "name", all = TRUE)
            merged_data$fraction_total_reads.x[is.na(merged_data$fraction_total_reads.x)] <- 0
            merged_data$fraction_total_reads.y[is.na(merged_data$fraction_total_reads.y)] <- 0
            merged_data$absolute_difference <- abs(merged_data$fraction_total_reads.x - merged_data$fraction_total_reads.y)
            top_indices <- order(-merged_data$absolute_difference)[1:n]
            top_n_rows <- merged_data[top_indices, ]
            return (top_n_rows)
}

In [75]:
top_ten <- compare(before_data, after_data, 10)
top_ten

     name                              taxonomy_id.x taxonomy_lvl.x
2220 Limnohabitans sp. 63ED37-2        1678128       S
554  beta proteobacterium CB            543913       S
1124 Cloacibacterium normanense         237258       S
3174 Polynucleobacter necessarius       576610       S
1303 Curvibacter sp. AEP1-3            1844971       S
1939 Hydrogenophaga sp. RAC07          1842537       S
1925 Homo sapiens                         9606       S
920  Candidatus Planktophila sulfonica 1884904       S
3591 Rhodoferax saidenbachensis             NA       NA
3275 Pseudomonas aeruginosa                 NA       NA
     kraken_assigned_reads.x added_reads.x new_est_reads.x
2220 510214                  52379         562593
554  107988                  14767         122755
1124 100967                  24805         125772
3174 130854                   3134         133988
1303  13224                    596          13820
1939  57395                   2876          60271
1925  88648                   2488          91136
920   39604                  10153          49757
3591     NA                     NA             NA
3275     NA                     NA             NA
     fraction_total_reads.x taxonomy_id.y taxonomy_lvl.y
2220 0.11301                1678128       S
554  0.02466                     NA       NA
1124 0.02526                 237258       S
3174 0.02691                 576610       S
1303 0.00278                1844971       S
1939 0.01211                1842537       S
1925 0.01831                   9606       S
920  0.00999                1884904       S
3591 0.00000                1484693       S
3275 0.00000                    287       S
     kraken_assigned_reads.y added_reads.y new_est_reads.y
2220 228023                  28579         256602
554      NA                     NA             NA
1124  45965                  11529          57494
3174  84187                   3397          87584
1303  54369                   2796          57165
1939  89780                   4929          94709
1925  56360                   1632          57992
920   17625                   4613          22238
3591  24116                   1677          25793
3275   5030                  19830          24860
     fraction_total_reads.y absolute_difference
2220 0.05251                0.06050
554  0.00000                0.02466
1124 0.01177                0.01349
3174 0.01792                0.00899
1303 0.01170                0.00892
1939 0.01938                0.00727
1925 0.01187                0.00644
920  0.00455                0.00544
3591 0.00528                0.00528
3275 0.00509                0.00509

### Problem 3 - Shannon Diversity

In [76]:
shannon_diversity <- function(data){
    total_count <- sum(data$new_est_reads)
    data$p <- (data$new_est_reads)/total_count
    shannon_diversity <- -1*sum(data$p*(log(data$p)))
    return (shannon_diversity)
}

In [77]:
print(paste("Before Rain: ", shannon_diversity(before_data)))
print(paste("After Rain: ", shannon_diversity(after_data)))

[1] "Before Rain:  6.13744167139308"
[1] "After Rain:  6.72304146175515"

Here we see that the Shannon Diversity does not change that much after rainfall has occured. It does increase however which indicates an increase in biodiversity although not by a lot.